@page "/dashboard"
@layout MainLayout

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3>Bem-vindo ao Controle de Acesso</h3>
            <p>Use o menu à esquerda para gerenciar o sistema.</p>
        </div>
    </div>

</div>