@page "/sistemas"
@layout MainLayout

@using Agendamento.Core.Entities
@using Agendamento.DesktopApp.Components.Layout

<h3>Gerenciamento de Sistemas</h3>

<div class="card shadow-sm mb-4">
</div>

<div class="card shadow-sm">
</div>

