/* NAVBAR
----------------------------------------------------------------------------------------------------*/
.navbar {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.175);
}

.dropdown-menu {
    border: 1px solid #ccc;
}

@media (min-width: 769px) {
    .navbar {
        height: 79px;
    }

        .navbar .navbar-brand {
            padding: 3px 15px;
        }

            .navbar .navbar-brand img {
                height: 65px;
            }

    .navbar-nav > li > a {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 12px;
        min-width: 90px;
    }

        .navbar-nav > li > a > i {
            font-size: 36px;
            display: block;
            padding-bottom: 3px;
        }
}

@media (max-width: 768px) {
    .navbar .navbar-brand {
        padding: 5px;
        color: #1F96B7;
    }

        .navbar .navbar-brand img {
            height: 40px;
            margin-right: 8px;
            display: inline-block;
        }
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #1F96B7;
    color: #ffffff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #1F96B7;
    color: #ffffff;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #1F96B7;
}

.navbar-default .navbar-nav > li > a {
    color: #2e3c56;
}

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #1F96B7;
        background-color: transparent;
    }
.profile-img {
    border: 1px solid #f1f1f1;
    width: 175px;
    height: 175px;
}

.profile-img-min {
    border: 1px solid #f1f1f1;
    width: 60px;
    height: 60px;
}

.profile-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #51ff00;
    color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1rem;
}