@inherits LayoutComponentBase
@using SistemaAgendamento.WebApp.Components.Layout.NavMenu


<MudThemeProvider />
<MudDialogProvider @rendermode="RenderMode.InteractiveServer" />
<MudSnackbarProvider @rendermode="RenderMode.InteractiveServer" />
<MudPopoverProvider @rendermode="RenderMode.InteractiveServer" />

<div class="page">
    
    <AuthorizeView>
        <Authorized>
            <SanesulNavMenuBar />
        </Authorized>
        <NotAuthorized>
            <nav class="navbar navbar-light fixed-top bg-white shadow-sm">
                <div class="container container-lg">
                    <a class="navbar-brand" href="/">
                        <img src="https://transparencia.sanesul.ms.gov.br/images/logo.png" alt="Logo" height="50" />
                    </a>
                    <a class="btn btn-secondary" href="/"><i class="fa fa-sign-in-alt"></i> Entrar</a>
                </div>
            </nav>
        </NotAuthorized>
    </AuthorizeView>

    <main class="content px-4 py-5 mt-15">
        @Body
    </main>
</div>